<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">           
</head>
<body style="background-color: #E9E9E9">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #62BA67">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="../../../assets/icon-mega-sena.png" width="30" height="30" alt="">
                    Mega-Sena
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar10">
                    <ul class="navbar-nav nav-fill w-100">
                        <li class="nav-item">
                          <a class="nav-link" href="heuristicas.html">Heurísticas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="aposta.html">Faça sua aposta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gerador.html">Gerador de jogos</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="historico.html">Histórico</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container my-5" style="min-width: 800px; min-height: 400px;">
        <h1 class="text-center">Heurísticas</h1>    
        <div class="container mt-5 border border-dark rounded" style="background-color: #89C48C; max-width: 1000px; min-height: 400px;">

            <div class="m-5 p-3" style="background-color: aliceblue;">
                1° O jogo deve estar com discrepância de, no máximo, 20% do somatório de todos os jogos ganhadores existentes
            </div>

            <div class="m-5 p-3" style="background-color: aliceblue;">
                2° O jogo deve estar com discrepância de, no máximo, 20% da amplitude de todos os jogos ganhadores existentes
            </div>

            <div class="m-5 p-3" style="background-color: aliceblue;">
                3° O jogo não pode ser formado apenas por números pares ou ímpares
            </div>

            <div class="m-5 p-3" style="background-color: aliceblue;">
                4° O jogo não pode já ter sido sorteado em outros concursos
            </div>

            <div class="m-5 p-3" style="background-color: aliceblue;">
                5° O jogo não pode ser constituido por números sequenciais
            </div>

            <div class="m-5 p-3" style="background-color: aliceblue;">
                6° O jogo deve estar com discrepância de, no máximo, 20% da mediana de todos os jogos ganhadores existentes
            </div>

        </div>   
    </div>

    

    
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="index.js"></script>        
</body>
</html>